<!DOCTYPE html>
<html data-theme="pastel" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="iedge">

    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE" th:text="${@appConfig.siteName}"></title>

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col pt-[35px]">

<!-- 데이지 UI -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css"/>

<!-- common.css -->
<link href="/resource/common/common.css" rel="stylesheet" type="text/css"/>

<header class="fixed z-40 top-0 left-0 w-full bg-white border-b-[1px] border-b-[color:#efefef] h-[35px]">
    <div class="container mx-auto h-full flex items-center px-2">
        <a href="/" class="logo flex font-bold mr-auto">
            <span class="text-[#FF9900]">멋</span>
            <span class="ml-[2px] hidden sm:block">북스</span>
        </a>

        <div class="flex">
            <a href="/" class="btn btn-ghost rounded-btn">
                <i class="fa-solid fa-house"></i>
                <span class="ml-[2px] hidden sm:block">
                    home
                </span>
            </a>
            <div class="dropdown dropdown-hover" sec:authorize="isAuthenticated()">
                <label tabindex="0" class="btn btn-ghost rounded-btn">
                    <i class="fa-solid fa-wallet"></i>
                    <span class="ml-[2px] hidden sm:block">
                        rebate
                    </span>
                </label>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <a href="/adm/rebate/makeData" class="inline-flex">
                            <i class="fa-solid fa-calendar"></i>
                            <span class="ml-[2px] hidden sm:block">
                                정산데이터 생성
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/post/list" class="inline-flex">
                            <i class="fa-solid fa-list-ul"></i>
                            <span class="ml-[2px] hidden sm:block">
                                정산데이터 리스트
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="/adm/withdraw/applyList" class="btn btn-ghost rounded-btn">
                <i class="fa-solid fa-money-bill-transfer"></i>
                <span class="ml-[2px] hidden sm:block">
                    withdraw
                </span>
            </a>
            <a href="/member/profile" class="btn btn-ghost rounded-btn">
                <i class="fa-solid fa-user"></i>
                <span class="ml-[2px] hidden sm:block">
                    profile
                </span>
            </a>
            <a href="javascript: document.logoutForm.submit();" class="btn btn-ghost rounded-btn">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="ml-[2px] hidden sm:block">
                    logout
                </span>
            </a>
            <form name="logoutForm" th:action="@{/member/logout}" method="POST" hidden></form>
        </div>
    </div>
</header>

<div class="flex-grow flex flex-col">
    <main layout:fragment="main" class="flex-grow flex flex-col"></main>
</div>

<footer class="border-t-[1px] border-t-[color:#efefef] py-3 text-[color:#777] text-[14px] mt-5">
    <div class="container mx-auto flex flex-col gap-1 px-2">
        <div>
            <a href="/">
                <span>사업자정보확인</span>
                <span class="inline-block scale-[.7]">▼</span>
            </a>
        </div>

        <div class="flex gap-3">
            <a href="/">이용약관</a>
            <a href="/">개인정보 처리방침</a>
            <a href="/">청소년보호정책</a>
        </div>

        <div>
            <a href="/">©멋북스 Corp.</a>
        </div>
    </div>
</footer>

<script src="/resource/common/common.js"></script>

<script th:inline="javascript">
    const params = /*[[ ${param} ]]*/ null;

    if (params.msg) {
        successModal(params.msg);
    }

    if (params.errorMsg) {
        errorModal(params.errorMsg);
    }
</script>

<!-- jdenticon -->
<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
        integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
        crossorigin="anonymous">
</script>

</body>
</html>