<!DOCTYPE html>
<html layout:decorate="~{adm/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Order</title>
</head>

<body>
<main layout:fragment="main">
    <div class="container mx-auto my-auto">

        <div class="overflow-x-auto">
            <h1 class="font-bold text-2xl text-center mb-5">정산데이터 내역</h1>

            <form th:action>
                <div class="form-control mb-3">
                    <label class="input-group input-group-sm justify-end">
                        <select name="yearMonth" class="select select-bordered select-sm">
                            <option disabled selected>which one</option>
                            <option value="2022-11">2022-11</option>
                            <option value="2022-10">2022-10</option>
                            <option value="2022-09">2022-09</option>
                        </select>

                        <input class="btn btn-primary btn-sm" type="submit" value="생성">
                    </label>
                </div>
            </form>

            <div class="overflow-x-auto">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th></th>
                        <th>결제날짜</th>
                        <th>상품명</th>
                        <th>결제가격</th>
                        <th>PG FEE</th>
                        <th>환불가격</th>
                        <th>판매자</th>
                        <th>예상정산가</th>
                        <th>정산내역번호</th>
                        <th>비고</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="item : ${items}">
                        <tr>
                            <td th:text="${item.orderItem.id}"></td>
                            <td th:text="${#temporals.format(item.payDate, 'yy.MM.dd HH:mm')}"></td>
                            <td th:text="${item.productSubject}"></td>
                            <td th:text="${item.payPrice}"></td>
                            <td th:text="${item.pgFee}"></td>
                            <td th:text="${item.refundPrice}"></td>
                            <td th:text="${item.sellerName}"></td>
                            <td th:text="${item.calculateRebatePrice}"></td>
                            <td th:text="${item.rebateCashLog?.id}"></td>
                            <td>
                                <a th:if="${item.rebateAvailable}" href="javascript:;" onclick="$(this).next().submit();" class="btn btn-xs">건별정산</a>
                                <form method="POST" th:action="@{|/adm/rebate/rebateOne/${item.orderItem.id}|}" target="_blank" hidden></form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>
</body>
</html>