<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>비밀번호찾기</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-2xl text-center mb-3">비밀번호찾기</h1>
            <div class="text-right">
                <a href="/member/findUsername" class="btn btn-outline btn-xs">아이디찾기</a>
            </div>

            <script>
                function MemberFindPassword__click(form) {
                    form.username.value = form.username.value.trim();

                    if (form.username.value.length == 0) {
                        warningModal("아이디를 입력해주세요.");
                        form.username.focus();

                        return;
                    }

                    form.email.value = form.email.value.trim();

                    if (form.email.value.length == 0) {
                        warningModal("이메일을 입력해주세요.");
                        form.email.focus();

                        return;
                    }

                    const username = form.username.value;
                    const email = form.email.value;

                    const memberFindRequestDto = {
                        "email" : email,
                        "username" : username
                    }

                    $.ajax({
                        url: "/member/findPassword",
                        type: "POST",
                        data: memberFindRequestDto,
                        success: data => {
                            $("#showUsername").text(data);
                        },
                        error: () => {
                            $("#showUsername").text("가입되지 않은 이메일입니다.");
                        }
                    });

                    $("#my-modal").prop('checked', true);
                }

                function MemberFindPassword__ReClick() {
                    $("#my-modal").prop('checked', false);

                    $("#username").val("");
                    $("#username").focus();

                    $("#email").val("");
                    $("#email").focus();
                }
            </script>


            <form class="flex flex-col gap-3" onsubmit="MemberFindPassword__click(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <input autofocus type="text" name="username" id="username" placeholder="아이디" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <input type="email" name="email" id="email" placeholder="이메일" class="input input-bordered" maxlength="50">
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="비밀번호찾기">
                    <a href="/member/login" class="btn btn-secondary btn-outline">로그인</a>
                </div>
            </form>
        </div>


        <input type="checkbox" id="my-modal" class="modal-toggle" />
        <div class="modal">
            <div class="modal-box relative">
                <div class="text-right">
                    <label class="btn btn-sm btn-circle btn-outline absolute right-2 top-2" onclick="MemberFindPassword__ReClick()">✕</label>
                </div>
                <h3 class="font-bold text-xl text-center mb-5">비밀번호 변경</h3>
                <p class="text-center" id="showUsername"></p>
                <div class="modal-action">
                </div>

                <div class="grid mt-2 gap-2">
                    <a href="/member/login" class="btn btn-primary">로그인</a>
                </div>
            </div>
        </div>

    </section>

</main>
</body>
</html>