<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>비밀번호변경</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <div class="text-left">
                <label class="btn btn-sm btn-outline" onclick="history.back()"><</label>
            </div>
            <h1 class="font-bold text-2xl text-center mb-3">비밀번호 변경</h1>

            <script>
                let MemberModifyPassword__submitDone = false;

                function MemberModifyPassword__submit(form) {
                    if (MemberModifyPassword__submitDone) {
                        return;
                    }

                    form.oldPassword.value = form.oldPassword.value.trim();

                    if (form.oldPassword.value.length == 0) {
                        warningModal("현재 비밀번호를 입력해주세요.");
                        form.oldPassword.focus();

                        return;
                    }

                    form.password.value = form.password.value.trim();

                    if (form.oldPassword.value == form.password.value) {
                        warningModal("현재 사용 중인 비밀번호와 동일합니다. 새로운 비밀번호를 입력해주세요.");
                        form.password.value = "";
                        form.passwordConfirm.value = "";
                        form.password.focus();

                        return;
                    }

                    if (form.password.value.length == 0) {
                        warningModal("신규 비밀번호를 입력해주세요.");
                        form.password.focus();

                        return;
                    }

                    form.passwordConfirm.value = form.passwordConfirm.value.trim();

                    if (form.passwordConfirm.value.length == 0) {
                        warningModal("비밀번호를 한 번 더 입력해주세요.");
                        form.passwordConfirm.focus();

                        return;
                    }

                    if (form.password.value !== form.passwordConfirm.value) {
                        warningModal("신규 비밀번호와 신규 비밀번호 확인이 일치하지 않습니다.");
                        form.passwordConfirm.value = "";
                        form.passwordConfirm.focus();

                        return;
                    }

                    form.submit();
                    MemberModifyPassword__submitDone = true;
                }
            </script>


            <form th:action method="POST" class="flex flex-col gap-3" onsubmit="MemberModifyPassword__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <input type="text" name="username" class="input input-bordered" th:value="${member.getUsername()}" readonly>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">현재 비밀번호</span>
                    </label>
                    <input type="password" name="oldPassword" placeholder="현재 비밀번호" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">신규 비밀번호</span>
                    </label>
                    <input type="password" name="password" placeholder="신규 비밀번호" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">신규 비밀번호 확인</span>
                    </label>
                    <input type="password" name="passwordConfirm" placeholder="신규 비밀번호 확인" class="input input-bordered" maxlength="50">
                </div>

                <div class="grid mt-2">
                    <input class="btn btn-primary" type="submit" value="비밀번호 변경">
                </div>
            </form>
        </div>

    </section>

</main>
</body>
</html>